{% extends 'base.html' %}
{% load staticfiles %}
{% block menu %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#" id="home_link">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-item btn btn-outline-warning" href="{% url 'webapp:photo_add' %}"
                   id="create_link">Add Photo</a>
            </div>
            <div class="navbar-nav ml-auto">
                {% if request.user.is_authenticated %}
                    <p class="nav-item text-white">Logged in as: {{ request.user }}</p>
                    <a class="nav-item btn btn-danger mx-2" href="{% url 'webapp:logout' %}" id="exit_link">Logout</a>
                {% else %}
                    <a class="nav-item btn btn-primary mx-2" href="{% url 'webapp:login' %}" id="enter_link">Login</a>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <h1 class="main_header text-center pt-4">Gallery</h1>
    <hr/>
    <div class="row justify-content-center mb-5 pb-4">
        {% for photo in photos %}
            <div class="card border-dark mb-3 my_card" style="width: 18rem;">
                <a class="card_header_link" href="{% url 'webapp:photo_view' photo.pk %}"><img src="{{ photo.photo.url }}" class="card-img-top" alt="picture"></a>
                <div class="card-body">
                    <h5 class="card-title">{{ photo.description }}</h5>
                    <hr>
                    <h5 class="card-subtitle mb-2 text-center"><b>Likes: {{ photo.likes }}</b></h5>
                    <h5 class="card-subtitle mb-2">Author: {{ photo.author }}</h5>
                    <h5 class="card-subtitle mb-2">Published: {{ photo.created_at }}</h5>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
{#    <script type="application/javascript" src="{% static "js/main.js" %}"></script>#}
{% endblock %}


