{% extends 'base.html' %}
{% load staticfiles %}
{% csrf_token %}
{% block menu %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'webapp:index' %}" id="home_link">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                {% if perms.webapp.delete_photo %}
                    <a class="nav-item btn btn-outline-warning mx-2" href="{% url 'webapp:photo_delete' photo.pk %}"
                   id="create_link">Delete</a>
                {% endif %}
                {% if perms.webapp.change_photo %}
                    <a class="nav-item btn btn-outline-warning mx-2" href="{% url 'webapp:photo_update' photo.pk %}"
                   id="create_link">Edit</a>
                {% endif %}
            </div>
            <div class="navbar-nav ml-auto">
                {% if request.user.is_authenticated %}
{#                    <p class="nav-item text-white">Logged in as: {{ request.user }}</p>#}
                    <a class="nav-item btn btn-danger mx-2" href="{% url 'webapp:logout' %}" id="exit_link">Logout</a>
                {% else %}
                    <a class="nav-item btn btn-primary mx-2" href="{% url 'webapp:login' %}" id="enter_link">Login</a>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}
{% block title %}{{ photo.description }}{% endblock %}
{% block content %}
    <h1 class="main_header text-center pt-4"><b>Details</b></h1>
    <div class="d-flex">
        <img src="{{ photo.photo.url }}" class="img-fluid ml-auto mr-auto" alt="picture">
    </div>
    <div class="text-center">
        <h5 class="text-center mt-3"><b>{{ photo.description }}</b></h5>
        <h5>Author: <b>{{ photo.author }}</b></h5>
        <h5>Likes: <b>{{ photo.likes }}</b></h5>
        <h5>Date published: <b>{{ photo.created_at }}</b></h5>
        <a href="" class="text-danger mt-3 m-5" id="like-icon"><i class="fas fa-heart like-link"></i></a>
        <a href="" class="text-primary mt-3 m-5" id ="dislike-icon"><i class="fas fa-thumbs-down dislike-link"></i></a>
    </div>
    <hr>
    <h2><b>Comments</b></h2>
    <button type="button" class="btn btn-primary mb-3" id="comment_add_link" data-toggle="modal" data-target="#form_modal">Add Comment</button>
    {% for comment in photo.comments.all %}
        <div class="card mb-3 border-dark">
            <div class="comment card-body">
                <h4><b>{{ comment.author }}</b></h4>
                <h5>{{ comment.text }}</h5>
                <h5>{{ comment.created_at }}</h5>
            </div>
            <div class="btn-group mb-2 mx-1" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#form_modal"
                    id="comment_edit_link">Edit</button>
                <button type="button" class="btn btn-danger" id="comment_delete_link">Delete</button>
            </div>
        </div>
    {% empty %}
        <p>No comment yet</p>
    {% endfor %}
    <input type="hidden" id="comment_photo" value="{{ photo.id }}">
    <input type="hidden" id="comment_user" value="{{ request.user.id }}">

     <div class="modal fade" id="form_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold text-center" id="form_title">Form</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body mx-3">
                    <form id="create_form">
                        <div class="md-form mb-3">
                            <input type="text" name="comment_text" id="comment_text" class="form-control validate">
                            <label data-error="wrong" data-success="right" for="comment_text">Text</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary" id="form_submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script type="application/javascript" src="{% static "js/main.js" %}"></script>
{% endblock %}